<%- include('partials/header') %>

  <main>
    <h1>
      <%= title %>
    </h1>

    <h2>Service Project Categories</h2>
    <p>Here are the categories from the database:</p>

    <ul class="category-list">
      <% categories.forEach(category=> { %>
        <li class="category-item">
          <%= category.name %>
        </li>
        <% }) %>
    </ul>
  </main>

  <%- include('partials/footer') %>