<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Welcome to the CSE 340 Service Network!</h2>
    <p>Here are a few of our partner organizations:</p>

    <img class="BrightFuture" src="images/brightfuture-logo.png" alt="BrightFuture Builders logo">
    <img class="GreenHarvest" src="images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
    <img class="UnityServe" src="images/unityserve-logo.png" alt="UnityServe Volunteers logo">

</main>

<%- include('partials/footer') %>